body {
    margin: 0;
}

img {
    margin: 30px;
    height: 50px;
}

p {
    color: #5264AE;
    margin: 0px;
    margin-top: 30px;
}

h3 {
    color: #5264AE;
}

#left {
    float: left;
    width: 50%;
}

#right {
    width: 50%;
    float: right;
}

#right iframe {
    width: 100%;
    height: 100%;
}

.input {
    margin-bottom: 30px;
    overflow: hidden;

}

textarea {
    width: 300px;
    resize: none;
    margin-top: 5px;
  font-size:16px;
  font-weight:normal;
    padding: 15px;
}

#center {
    margin:30px auto;
    display:block;
    background-color: #5264AE;
    width: 150px;
    height: 50px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
    border-radius: 10px;
}

.container {
    height: 100vh;
}


.table th {
    color: #5264AE;
}

.table-editable {
 // position: relative;
}
.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #700;
  cursor: pointer;
}
.table-remove:hover {
  color: #f00;
}

.table-add {
  color: #070;
  cursor: pointer;
  top: 0;
}
.table-add:hover {
  color: #0b0;
}




/* form starting stylings ------------------------------- */
.group        { 
  position:relative; 
  margin-bottom:20px; 
  margin-top:30px; 
}
input         {
  font-size:18px;
  padding:10px 10px 5px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-12px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}